*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
**/build/
/captures
.externalNativeBuild
.cxx
local.properties

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Allow gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar
!**/gradle-wrapper.jar

# Log files
*.log

# Kotlin
.kotlin/

# Android outputs
*.apk
*.ap_
*.aab

# graphify
graphify-out/
.graphify/
# Python
__pycache__/
*.pyc
